// 首頁：大圖輪播
// .main>section:not(.bigBanner) { display: none;}

.bigBanner{
  margin: 0 auto 10px;padding: 0;
  &::before{@extend %gradient1;}

  .banner{
    a{ 
      display: block; color: $fontColor; text-decoration: none;
      position: relative;
      &::before {
        content: ''; position: absolute; z-index:-1;
        left: 0; right: 0; top: 0; bottom: 0;
      }
      &:focus::before { z-index: 5; box-shadow: $primaryColor 0 0 0 2px inset;}
    }
    img{
      display: block; margin: 0;
      width: 100vw; height: 72vw; // 設定圖檔的寬、高比。100vw 是瀏覽器可視區的寬度，在手機就是全螢幕寬
      object-fit: cover; // 讓圖填滿，超過的部分不顯示
    }
    .title{
      position: absolute; left: 0;right: 0; bottom: 0;
      padding:12px 20px; margin: 0;
      line-height: 1; font-size: clamp( 1em ,calc(5vw - 2px), 2em) ;
      text-align: center;
      background-color: rgb(0 0 0 / .7);
      color: $white;
      white-space: nowrap; text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .slickBox{ 
    position: relative; margin: 0;
    .slick-arrow {
      --gap: 8px;
      top: 36vw;
    }
    .slick-dots{margin-top: 12px;}
  }

  @media screen and (min-width: $wwNormal){
    width: 96%; max-width: 1120px;
    .slick-list {
      border-radius: $radius2; overflow: hidden;
    }
    &::before{
      content: '';
      position: absolute; left: 0; right: 0;height: 80px; 
    }

    .banner{
      position: relative;
      a{
        border-radius: $radius2;
        &::before {border-radius: $radius2;}
      }
      img{width: 100%; height:48vw;max-height: 560px;}
      // 整個輪播區佔瀏覽器可視區的96%，所以 width: 100% = 96vw 。所以 width：height＝2:1
      .title{ padding: 16px 20px; font-size: 2em;}
    }

    .slickBox{ 
      .slick-arrow {top: 24vw;}
    }
  
  }

  @media screen and (min-width: 1167px){
    .slickBox{ 
      width: 1120px; 
      .slick-arrow { top: 280px;}
    }
  }

  @media screen and (min-width: $wwMaximum){
    .slickBox{ 
      .slick-arrow {
        --tinge: #{$assistant2};
        --gap: -76px;
        &::before{filter: none;}
        &:focus{ --tinge: #fff }
      }
    }
  }

}
