// 一般內容頁
// ------------------------------------------------------ //
.cpArticle{
  padding: 0 0 50px;
  line-height: 1.8; font-size: 1.2em;

  a {
    color: $linkColor; text-decoration: underline;
    &:hover {text-decoration: none;outline: 1px solid $linkColor;}
    &:focus{text-decoration: none;outline: 2px solid $linkColor;}
  }
  p{ margin: 0 0 1em;}

  &>ol, &>ul{
    line-height: 1.5;
    li{
      &+li{ margin-top: 0.8em;}
    }
  }

  // 內文標題
  h3, h4 {
    position: relative;
    margin: 2em 0 .8em; line-height: 1.4;
    font-weight: bold;color: $fontColorDark;
    &.style1 {
      background-color: $primaryColor; color: $white;
      padding:.5em 20px .45em;
      border-radius: $radius;
      &::before{ display: none; }
    }
  }
  h3{
    padding: 0;
    font-size: 1.5em;
    color: $primaryColor;
    padding-left: 24px;
    &::before{
      content: ''; position: absolute; left: 0; top: 7px;
      width: 12px; height: 26px; border-radius: 6px;
      background-color: $primaryColor;
    }
  }
  
  h4{
    padding: 0 0 0 24px;
    font-size: 1.25em; line-height: 1.4;
    &::before{
      content: ''; position: absolute; left: 0; top: .5em;
      width: 20px; height: 11px;
      background: url(../images/twoDisks.svg) no-repeat 0 0;
      background-size: contain;
    }

    &+.tbStyle1, &+.tbStyle2{
      margin-top: 0;
    }
  }

  // 主圖
  figure.prim{
    margin:20px auto 30px; max-width: 560px;
    box-shadow: $shadow1 0 0 8px;
    img{display: block; width: 100%;}
    figcaption{
      display: block;padding: 8px 12px 7px;
      font-size: .9em;
    }
    
  }

  // 引言
  blockquote{
    position: relative;
    border-radius:0 $radius2 $radius2 0; overflow: hidden;
    margin:50px 0; padding: 24px 24px 24px 32px;
    border: 1px solid $primaryColor;
    // background-color: $grayLight;
    &::before{
      content: ''; 
      position: absolute; left: 0; top: 0; bottom: 0;
      width: 12px;
      background-color: $primaryColor;
    }
  }

  .button{
    width: 100%; text-align: left; margin: .5em 0 1.5em;
    &>a{ 
      display: inline-block; 
      padding-left: 1.5em; padding-right: 1.5em; text-align: center;
      text-decoration: none; background-color: $secondaryColor;
      box-shadow:rgb(0 0 0 / .4) 0 4px 12px -2px;
      transition: .2s;
      &:hover {
        background-color: $assistant3;
        transform: translateY(4px);
        box-shadow:rgb(0 0 0 / .6) 0 1px 4px 0;
      }
      &:focus {
        background-color: $assistant3;
        box-shadow: $white 0 0 0 1px, $assistant3 0 0 0 4px;
      }
    }
    &.center{
      text-align: center;
    }
  }

  em{ font-style: normal; color: $hilight;}
  strong{ font-weight: bold; color: $hilight; font-size: 1.2em;}


  @media screen and (min-width: $wwNormal){
    figure.prim{ float: right; width: 40%; margin:0 0 15px 30px;}
    blockquote{ margin: 70px 0;}
  }

}



// 圖片區：一排個、一排兩個
// ------------------------------------------------------ //
.imageRow {
  margin: 50px auto;
  figure{
    margin: 0;padding: 0; display: block;
    background-color: $grayLight;
    img{display: block; width: 100%;}
  }
  figcaption{
    display: block; width: 100%;padding:16px 20px;
    line-height: 1.5; color: $fontColor; 
    p{
      margin: 1em 0;
      &:first-child{ font-size: 1.35em; margin-top: 0;}
    }
    dl{
      margin: 24px 0 0;
      div{ margin: 5px 0;}
      dt, dd{ display: inline-block; margin: 0;}
      dt{
        &::after{content: '：';}
      }
    }
  }

  &.col2 {
    figure:last-child{ margin-top: 20px;}
  }


  @media screen and (min-width: $wwMedium){
    margin: 70px auto;
    &.col2 {
      display: flex; justify-content: space-between;
      figure{
        flex: 0 0 49%; 

        display: flex; flex-flow: row wrap; 
        &:last-child{ margin-top: 0;}
        figcaption{align-self: flex-end;}
      }
    }
  }
}




// 內容頁表格
// ------------------------------------------------------ //
.tbStyle1, .tbStyle2{
  --tdbg: #f2f2f2;

  margin: 50px auto; width: 100%;
  border-collapse: collapse; line-height: 1.5;
  th, td{ padding: 15px;}
  caption{ 
    font-size: 1.15em; font-weight: bold; color: $primaryColor;
    text-align: left; padding: 5px 12px;
  }
  th {background-color: $primaryColor; color: $white; text-align: center;}
  td{
    ol, ul{ margin: 0;
      li+li{margin-top: .7em;}
    }
  }

  @media screen and (min-width: $wwNormal){
    margin: 70px auto;
  }
  
}


// th 在第一列
table.tbStyle1{
  tbody{
    tr:nth-child(even){
      background-color: var(--tdbg);
    }
  }
}

// th 在第一列和第一行
table.tbStyle2{
  border: 3px solid $borderColor;
  th, td{border: 1px solid $borderColor;}
  tbody{
    // background-color: var(--tdbg);
    th:first-child, td:first-child{ background-color: $primaryColor; color: $white;}
    th:first-child{ width: 7em;}
    td{ vertical-align: top; }
  }
}

