:root{
  font-size: 1em; // 16px
}
body{
  margin: 0; padding: 0;
  font-family: Arial, Helvetica, "Microsoft JhengHei", "微軟正黑體", sans-serif;
  color: $fontColor;

  *{box-sizing: border-box;}
  a{ outline: none;}
  figure{ display: block; margin: 0;}

  &.noScroll{ overflow: hidden; overflow-y:hidden; }

  &.smallFont .main{ font-size: .85em;}
  &.largeFont .main{ font-size: 1.33em;}

  @media screen and (min-width: $wwNormal){
    background-position-y: 280px;
  }

}



.main{
  position: relative; margin: 0 auto;  clear: both;
  &.mp{
    background: url(../images/body_bg.jpg) repeat-y center 0;
    background-size: 100% auto;
  
  }
}

// 內頁左右欄排版
// ------------------------------------------------------ //
.mainRow{
  width: $mobileWidthP;margin: 0 auto;
  // .columnRight, .columnLeft{ outline: 1px dashed red;}
  .columnLeft { 
    display: none;
    &>.head { @extend %gradient1; color: $white; }
  }
  // .columnRight { }
  
  @media screen and (min-width: $wwNormal){
    padding: 32px 0;
    width: 96%; max-width: $maximumWidth;
    display: flex; flex-flow: row nowrap;

    // 左側欄
    .columnLeft { 
      display: block;
      flex: 0 0 300px;width: 300px;
      padding-right: 36px;
    
      &>.head {
        margin: 0 0 5px;
        text-align: center;
        font-size: 1.25em; padding: 20px;
        border-radius: $radius1;
      }
    }

    // 右欄
    .columnRight{
      flex: 1 1 auto;

      // 右欄實際寬度
      --colRWidth: calc(96vw - 300px);
    }
  
  
  }
  @media screen and (min-width: $wwMaximum){
    .columnRight{
      --colRWidth: 890px;
    }
  }

}
