// 無障礙定位點
// --------------------------------------------------------------- //
.accesskey{
  position: absolute; display: none;
  @media screen and (min-width: $wwNormal){
    display: block; top: 0;left: 0; z-index: 199;
    line-height: 1; padding: 2px;
    text-decoration: none;
    &:focus, &:hover{ outline: 1px solid $focus; outline-offset: -1px;}
  }
}
@media screen and (min-width: $wwNormal){
  .webHeader .accesskey{ color: #bbb;}
  .main .accesskey { color: $focus;}
  .webFooter .accesskey {color: $focus;}
}
@media screen and (min-width: calc($wwMaximum + 2em)){
  .webHeader .accesskey,
  .main .accesskey, 
  .webFooter .accesskey { left:  calc( 50vw - $wwMaximum*.5 - 1em);}


}



// 時間、日期格式
// --------------------------------------------------------------- //
time {
  display: inline-block; 
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family:sans-serif;
  
}
// --------------------------------------------------------------- //


// 鍵盤樣式
// --------------------------------------------------------------- //
kbd {
  display: inline-block; vertical-align: middle; 
  margin: 0 .1em; padding: 0 .4em; height: 1.7em; line-height: 1.6;
  font-size: .938em; font-family: sans-serif; font-weight: bold; 
  border: 1px solid $borderColor; border-radius: 3px; 
  color: $fontColor; background: $fontInvert; 
  box-shadow: $shadow1 0 2px 0 1px;
  i{font-weight: normal;}
}



// 跳至內容區 
// --------------------------------------------------------------- //
.goCenter{
  display: none;
  @media screen and (min-width: $wwNormal) {
    display: block; z-index: 888;
    position: fixed; top: -2.4em;  left: 330px;
    text-decoration: none; 
    transition: .5s;

    background: $secondaryColor; color: $white; 
    padding: 8px 14px; line-height: 1; border-radius: 0 0 8px 8px;
    &:focus{ top: 0;}
  }
  @media screen and (min-width: $wwMaximum) {
  }
}
// --------------------------------------------------------------- //



// 回頁面最上方 
// --------------------------------------------------------------- //
.goTop{
  --tinge: #fff;
  --bg: #{$secondaryColor};
  --size: 72px;
  --arrowSize : 18px;

  position: fixed;right: 16px; bottom: -80px; z-index: 90; 
  width: var(--size); height: var(--size);
  text-indent: -15em;overflow: hidden;
  padding:0;margin: 0;
  border: none; border-radius: $radius2; 
  background-color: var(--bg);
  box-shadow:var(--bg) 0 0 0 0, rgb(0 0 0 / .3) 0 0 12px;
  transition: all .2s, bottom 1s;

  &::before{
    content: ''; position: absolute;
    box-sizing: border-box;
    width: var(--arrowSize); height: var(--arrowSize);
    left: calc( ( var(--size) - var(--arrowSize) )/2 ); top: calc( var(--size)/2 - var(--arrowSize)/3 );
    border: 3px solid var(--tinge); 
    border-bottom: none; border-right: none;
    transform: rotate(45deg);
  }

  &:hover, &:focus {
    background-color: var(--bg);
    box-shadow: var(--bg) 0 0 0 3px, rgb(0 0 0 / .3) 0 0 12px 4px ;
  }
  &:focus{ box-shadow:$white 0 0 0 3px, rgb(0 0 0 / .3) 0 0 12px 4px;}

  &.show{ bottom: 16px;}

  @media screen and ( min-width: calc($wwMaximum + 408px) ){
    right: calc(50% - $wwMaximum*.5 - var(--size) - 100px - 16px );
  }

}
// --------------------------------------------------------------- //



// 放大鏡圖示
// --------------------------------------------------------------- //
%searchIcon {
  --tinge : #000;
  
  position: relative;
  text-indent: -10em; overflow: hidden;
  
  &::before, &::after{
    content: ''; position: absolute;
  }
  &::before{
    left: calc(50% - 13px); top: calc(50% - 13px);
    width: 16px; height: 16px; 
    border: 2px solid var(--tinge); border-radius: 50%;
  }
  &::after{
    width: 12px; height: 2px; 
    top: calc(50% + 7px); left: calc(50% + 2px);
    border-radius: 1px;
    transform: rotate(45deg);
    background-color: var(--tinge);
  }
}
// --------------------------------------------------------------- //



// 查詢圖示 ｜ 行動版側欄開關 
// --------------------------------------------------------------- //
.sidebarCtrl, .searchCtrl {
  position: absolute;
  width: 64px; height: 64px; border-radius: 50%;
  margin: 0; padding: 0; 
  border: none; box-shadow: none; outline: none;
  text-indent: -20em; overflow: hidden;
  cursor: pointer;
}

// 行動版側欄開關 （漢堡）
// --------------------------------------------------------------- //
button.sidebarCtrl{
  --tinge : #{$fontColor};
  --bg: #{$white};
  
  background-color: var(--bg);
  transition: .4s;

  &::before, &::after{
    content: ''; width: 30px; height: 4px; border-radius: 2px;
    position: absolute; top: calc(50% - 2px); left: calc(50% - 15px);
    background: var(--tinge); 
    transition: .2s;
  }
  &::before{
    box-shadow: var(--tinge) 0 -10px 0, var(--tinge) 0 10px 0;
  }
  &::after {opacity: 0;}

  &:hover, &:focus {
    --tinge : #{$white};
    --bg: #{$primaryColor};
    background-color: var(--bg);

  }
  &:focus{
    // --tinge : #{$white};
    // --bg: #{$primaryColor};
    box-shadow: var(--bg) 0 0 0 4px;
  }

  &.closeIt{
    --tinge : #{$white};
    --bg: #{$primaryColor};

    &::before, &::after{
      width: 32px;left: calc(50% - 16px);
      background-color: var(--tinge); 
    }
    &::before{ 
      transform: rotate(45deg);
      box-shadow: none;
    }
    &:after{
      opacity: 1;
      transform: rotate(-45deg);
    }
  }
  


}
// --------------------------------------------------------------- //

// 查詢區開關圖示 
// --------------------------------------------------------------- //
button.searchCtrl{
  margin: 0; padding: 0; border: none;
  background-color: $primaryColor;
  cursor: pointer; transition: box-shadow .2s;
  &::before{ 
    content: ''; position: absolute;
    left: 0; top: 0; width: 100%; height: 100%;
    background: url(../images/icon_search.svg) no-repeat center center;
    background-size: 50%;
    filter: brightness(20);
  }
  
  &:hover, &:focus {
    background-color: $primaryColor;
    // &::before{filter: brightness(1);}
  }
  &:hover {
    box-shadow: transparent 0 0 0 1px, $primaryColor 0 0 0 3px;
  }
  &:focus{
    box-shadow: $white 0 0 0 1px, $primaryColor 0 0 0 4px;
  }

  @media screen and (min-width: $wwNormal){
    width: 44px; height: 44px;
    background-color: $primaryColor;
    &:before{filter: brightness(20);}
  }
}
// --------------------------------------------------------------- //





// 側欄遮罩 
// --------------------------------------------------------------- //
.sidebarMask {
  display: none;z-index: 800;
  position: fixed;left: 0;right: 0;top: 0;bottom: 0;
  background-color: rgba(100,100,100,.75);
}
// --------------------------------------------------------------- //



// MORE
// --------------------------------------------------------------- //
.more{
  text-align: center; font-size: 1.125em;
  a{
    position: relative;
    display: inline-block; position: relative;
    text-decoration: none; outline: none;
    height: 2.8em; height: 2.8em; line-height: 2.8;
    padding: 0 46px;
    background-color: $white; color: $assistant2;
    box-shadow: 0 0 20px  rgb(0 0 0 / .15);
    transition: .2s;

    &::after{
      content: ''; position: absolute;
      top: calc(50% - 10px); right: -18px;
      width: 52px; height: 10px;
      border: 1px solid $borderColorDark;
      border-top: none; border-left: none;
      transform: skewX(45deg);
      transition: .2s;
    }
    &:hover{
      &::after {
        transform: skewX(60deg) translateX(5px);
        border-right-width: 2px;
      }
    }
    &:focus{
      background-color: $assistant2; color: $white;
      &::after {
        transform: skewX(60deg) translateX(5px);
        border-right-width: 2px;
        border-color: $primaryColor;
      }
    }

  }

}
// --------------------------------------------------------------- //





// 關閉 「X」
// --------------------------------------------------------------- //
button.closeThis{
  --width:48px;
  --bar-length:28px;
  --bar-thick:4px;
  --tinge: #fff;
  --bgc: rgb(48 48 48/ .6);

  position: relative;
  height: var(--width); width:  var(--width); padding: 0; margin: 0;
  text-indent: -20em; overflow: hidden;
  background-color: var(--bgc);

  &::before, &::after{
    content: ''; position: absolute; 
    background-color: var(--tinge);
    left: calc( (var(--width) - var(--bar-length))/2 );
    top:  calc( (var(--width) - var(--bar-thick))/2 );
    width: var(--bar-length); height: var(--bar-thick);
  }
  &::before{transform: rotate(45deg);}
  &::after{transform: rotate(-45deg);}

  &:hover, &:focus { 
    --bgc: #333;
    background-color: var(--bgc);
    box-shadow: var(--bgc) 0 0 0 3px;
  }
}


// 跳離燈箱、行動版側欄元件
// --------------------------------------------------------------- //
button.skip{
  position: absolute; right: 0; bottom: 0; 
  padding: 0; margin: 0; width: 1px !important; height: 1px !important;
  background: none; box-shadow: none; 
  outline: none; border: none;
  text-indent: -20em; overflow: hidden;
}
// --------------------------------------------------------------- //



// 小標籤：［最新］、［展覽］、［活動］
// --------------------------------------------------------------- //
.label{ 
  display: inline-block;
  height: 2.1em; line-height: 2.3em; padding: 0 1em;

}
// --------------------------------------------------------------- //




// a 或 span 模擬 button 元件樣式
.button{
  display: inline-block;margin: 3px auto;
  text-align: center;
  &>a {
    display: block;
    background-color: $secondaryColor;
    height: 2.6em; line-height: 2.6;
    padding: 0 .8em;
    border-radius: 2em;
    color: $white !important;
    text-decoration: none !important;
    outline: none !important;
    &:hover{
      box-shadow:transparent 0 0 0 0, $secondaryColor 0 0 0 2px;
    }
    &:focus {
      box-shadow:$white 0 0 0 1px, $secondaryColor 0 0 0 4px;
    }
  }

  @media screen and (min-width: $wwNormal){
  }

}



// 暫時寄放
// --------------------------------------------------------------- //
// --------------------------------------------------------------- //
// --------------------------------------------------------------- //

.circle{
  display: block; width: 164px; height: 164px;
  margin: 20px;
  a{
    position: relative;
    display: block; width: 100%; height: 100%;
    text-align: center;
    background-color: #bbb; border-radius: 50%;
    font-weight: bold; color: #000; font-size: 1.3em;
    text-decoration: none;
    background-image: linear-gradient(180deg, #92e1e7 10%, #186f7b 85%);
    box-shadow: #ddd 0 0 0 6px;

    display: flex; align-items: center; justify-content: center;
    &::before{
      content: ''; position: absolute; top: 20px; left: 20px;
      width: 124px; height: 124px;
      background-color: #fff; border-radius: 50%;
    }

    span{
      position: relative;
      width: 5.5em;
      line-height: 1.4;
      
    }
  }

}