// ------------------------------------------------------ //
.sticker{
  display: none;
  @media screen and (min-width: $wwNormal){
    display: block;
    position: fixed; top: 226px; right: 0; z-index: 99;
    width: 100px;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / .3);

    ul{ 
      list-style: none; margin: 0 auto; padding:2px 0 16px; 
      line-height: 1.2; width: 50px;
      li{
        margin: 24px auto 0;padding: 0;
        img{display: block; margin: 0 auto;}
        a {
          display: block; margin: 0 auto;
          text-decoration: none;color: $fontColor;
          // outline: 1px solid #0002;
          transition: .3s;
        }
        &.icon{
          img{ width: 42px; height: 42px;}
          a{
            padding: 4px;
            &:hover, &:focus {
              background-color: $primaryColor;
              box-shadow: $primaryColor 0 0 0 12px;
              img{ filter: brightness(16);}
            }
          }
        }
        &.text{
          margin-top: 20px;
          a{ 
            width: 2em; padding: 14px .5em 12px;
            &:hover, &:focus {
              background-color: $primaryColor; color: $white;
              box-shadow: $primaryColor 0 0 0 6px;
            }
          }
        }
      }
    }
    
    .searchCtrl{
      position: static;
      width: 100px; height: 100px;
      background-color: $primaryColor;
      box-shadow: $primaryColor 0 0 0 2px inset;
      &::before{
        margin: auto;
        filter: brightness(16);
      }
      &:hover, &:focus {
        box-shadow: $primaryColor 0 0 0 14px inset, $white 0 0 0 15px inset;
      }
    }
  }

  @media screen and (min-width: calc($wwMaximum + 200px)){
    right: calc(50% - $wwMaximum*.5 - 100px);
  }

}


// ------------------------------------------------------ //
