// RWD 斷點 
// ---------------------------------------------------------------- //
$wwSlim: 400px;
$wwMedium: 700px;
$wwNormal: 1000px;
$wwMaximum: 1240px;
// $wwMaximum: 1167px;
// ---------------------------------------------------------------- //


// 長度常數
// ---------------------------------------------------------------- //
$sideBarWidth: 300px;  // 窄版側欄選單
$mobileWidthP: 96%; // 窄螢幕寬度 moduals width in mobile
$normalWidthP: 96%; // 寬螢幕寬度
$mobileWidthV: 96vw; // 窄螢幕寬度 moduals width in mobile
$normalWidthV: 96vw; // 寬螢幕寬度
$maximumWidth: 1120px; // 內容區最大寬度

// 文件邊界寬度
$mgDocMP: 2%;
$mgDocP: 2%;
$mgDocPMax: calc(50% - $wwMaximum*.45);

// 圓角半徑
$radius: 4px;
$radius1: 8px;
$radius2: 16px;
$radius3: 32px;
$radius4: 64px;

// ---------------------------------------------------------------- //



// 首頁主要區塊寬度
// ---------------------------------------------------------------- //
%primSecWidth {
  width: $mobileWidthP; margin: 0 auto;
  @media screen and (min-width: $wwNormal){
    width: $normalWidthP;
  }
  @media screen and (min-width: 1167px){
    width: $maximumWidth;
  }
}
// ---------------------------------------------------------------- //



// 顏色變數
// ---------------------------------------------------------------- //
$primaryColor:#005ea2;
$secondaryColor: #008480;
$assistant1: #efffcd;
$assistant2: #042047;
$assistant3: #00758e;
$hilight : #ef460e;
$warning: #be002e;
$hover: #efffcd;
$focus: #74d2f6;

$fontColor: #333;
$fontColorLight: #666;
$fontColorPale: #888;
$fontColorDark: #000;
$fontInvert: #fff;
$linkColor: #042047;
$mainBg: #fff;

$borderColor: #c1c5c6;
$borderColorLight: #e2e2e2;
$borderColorDark:#424444;
$shadow1:rgba(15 61 95 / .2);
$shadow2:rgba(15 61 95 / .5);

$white: #fff;
$black: #000;
$grayLight: #eef2f2;
$gray: #989b9b;
$grayDark: #474b4c;

// 漸層色
%gradient1 {
  --deg : 90deg;
  background-image: linear-gradient(var(--deg), #005ea2 0%, #008480 100%);
}

// ---------------------------------------------------------------- //