// 首頁：影音專區
.videos{
  margin: 0 auto;
  .screenshot{
    margin: 0 auto 30px;
    text-align: center;
    &>a{
      display: block; padding: 30px 0; 
      color: $fontColor; text-decoration: none;
      background-color: rgb(255 255 255 / .8);
      box-shadow:#fff 0 0 0, rgb(0 0 0 / .1) 0 0 20px;
      border-radius: 20px;
      transition: .2s;
      &:hover{
        background-color: rgb(255 255 255 / 1);
        box-shadow:#fff 0 0 0 3px, rgb(0 0 0 / .3) 0 0 24px;
      }
      &:focus {
        background-color: rgb(255 255 255 / 1);
        box-shadow:$primaryColor 0 0 0 3px, rgb(0 0 0 / .3) 0 0 24px;
      }
    }
  
    img{display: block; margin: 0 auto; width: 90%;}

    .title{
      display: block; margin: 15px auto 0;width: 90%;
      font-size: 1.25em; font-weight: bold;
    }
  }
}


// ------------------------------------------------------ //
// ------------------------------------------------------ //
// ------------------------------------------------------ //

// 排版容器，放置「常用查詢」「統計圖表」「影音專區」
.row_col3 {
  padding: 60px 5% 80px;
  background: url(../images/rowBg1.jpg) repeat-y center 0;
  background-size: 200% auto;


  &>section{
    max-width: 640px;
    &:nth-child(2){ margin-top: 40px; margin-bottom: 40px;}
  }

  @media screen and (min-width: $wwNormal){
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    &>section{
      flex: 0 0 calc(33.33% - 10px);
      &:nth-child(2){margin: 0 15px;}
    }

    position: relative;
    // 雙圓餅裝飾圖
    // &::after{
    //   content: ''; position: absolute; bottom: -35px; right: 6%;
    //   width: 120px; height: 90px;
    //   background: url(../images/twoDisks.svg) no-repeat right 0  bottom 0,
    //   url(../images/twoDisks.svg) no-repeat right 43px bottom 43px ;
    //   background-size: auto 46px;
    //   transform: rotate(135deg);
    // }
    // 20240710 客戶要求移除
  }

  @media screen and (min-width: $wwMaximum){
    padding-left: calc(50% - 560px);
    padding-right: calc(50% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    &>section{flex-basis: 363px; width: 363px;}

    &::after{right: calc(50vw - $wwMaximum*.44);}
  }
}
